<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a new user</title>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body>
<header th:insert="~{header :: header}"></header>
<div class="user-card">
    <h2 class="form-title">Створення нового користувача</h2>
    <form th:action="@{/users}" method="post">
        <input type="text" class="input-field" placeholder="Ім'я" name="name" required>
        <input type="number" class="input-field" placeholder="Вік" name="age" required>
        <input type="text" class="input-field" placeholder="Місто" name="city" required>
        <input type="email" class="input-field" placeholder="E-mail" name="email" required>
        <input type="text" class="input-field" placeholder="Улюблені вайфу (розділені комою)" name="favWaifu" required>
        <button type="submit" class="button-6">Додати</button>
    </form>
</div>
</body>
</html>